/* variables */

$color-primario: #035AA6;
$color-texto:  #BADAEA;
$color-texto2: white;
$family-fuente: tuppence, serif;

/* variables */

/* map */

$tamaño-fuente: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

/* map */